@model IEnumerable<OpenCell.Models.Opencell>

@{
    ViewBag.Title = "Index";
}

<h2>Big Data OpenCell</h2>

        <div id='printoutPanel'></div>
        
        <div id='theMap' style='width: 75vw; height: 75vh;'></div>
        <script type='text/javascript'>
            function onMapLoaded() {

               var map = new Microsoft.Maps.Map(document.getElementById('theMap'), {
                    /* No need to set credentials if already passed in URL */
                    center: new Microsoft.Maps.Location(39.393486, -98.100769),
                    zoom: 3 });
                Microsoft.Maps.loadModule('Microsoft.Maps.Clustering', function () {
                    // Creating sample Pushpin data within map view
                    var pins = [];

                     @foreach (var item in Model) {
        <text>
                    var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(@item.lat, @item.lon));
                    pin.metedata = item;
                    pins.push(pin);
        </text>
                     }
                    //var pushpins = Microsoft.Maps.TestDataGenerator.getPushpins(1000, map.getBounds());
                    var clusterLayer = new Microsoft.Maps.ClusterLayer(pins, { gridSize: 100 });
                    map.layers.insert(clusterLayer);
                });
                
            }
           
        </script>





 